body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}
h1 {
    color: pink;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 3em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}

.site-category{
    background: $brand-color;
    border-top: 1px solid $border-color;
    margin:auto;
    padding:0;
    font-size:14px;
    text-align: center;
    clear:left;
    }

    .site-category ul{
    //background: rgb(109,109,109);
    height:50px;
    list-style:none;
    line-height: 1.5;
    margin:0 auto;
    padding:0;
    display:inline-block;
    }

    .site-category li{
    float: left;
    display:inline;

    }

    .site-category li a{
    background: $brand-color;
    display:block;
    font-weight:normal;
    line-height:50px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
    }

    .site-category li a:hover{
    background: rgb(71,71,71);
    color:#FFFFFF;
    text-decoration:none;
    }

    .site-category li ul{
    background: rgb(109,109,109);
    display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
    /*top:1em;
    /*left:0;*/
    }

    .site-category li:hover ul{
    display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
    }

    .site-category li li {
    background: $brand-color;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
    }

    .site-category li:hover li a{
    background:none;
    }

    .site-category li ul a{
    display:block;
    height:50px;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
    }

    .site-category li ul a:hover, .menubar li ul li:hover a{
    background: rgb(71,71,71);
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }
